/* Global */
:root{
    /* Color */
--color-white: white;
--color-light-borwn:#E68663;
--color-light-pink:#F08267;
--color-dark-brown:#D66958;
--color-pink:#F08078;
--color-dark-pink:#D69494;
--color-black:#1B2000;
--color-light-gray:#7c7c7a;

/* Font size */
--font-large:48px;
--font-medium:28px;
--font-regular:18px;
--font-small:16px;
--font-micro:14px;

/* Font weight */
--weight-bold:700;
--weight-semi-bold:600;
--weight-regular:400;

/* Size */

}
/* Universal tags */
*{
    box-sizing:border-box ;
}
body{
    margin:0;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-style: var(--weight-bold);
}
ul{
display: flex;
list-style: none;
padding-left: 0;
}


/* Typography    */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin:16px 0px;
}
h2{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin:8px 0px;
}
p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin:4px 0px; 
}
/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-pink);
    align-items: center;
  
}
.navbar__menu{
    display:flex;
    
}
.navbar__menu__item{
    padding: 8px 12px;
    margin:0 4px;;
}
